body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: inherit;

	padding: 20px;
}

@mixin Flexible($fd: column, $jc: center, $aln: normal, $gap: 5px) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $aln;
	gap: $gap;
}

.main__adm_koutek {
	margin: 5px auto 20px;

	@media (min-width: 768px) {
		position: absolute;
		top: 20px;
		left: 5px;
	}

	max-width: 200px;
	padding: 20px 10px;
	border: 2px solid darkblue;
	border-radius: 5px;

	h2 {
		font-size: 1.2em;
		font-weight: 600;
		text-transform: uppercase;
		color: darkblue;
		border-bottom: 1px solid darkblue;
	}
}

.adm__koutek_links {
	margin-top: 10px;
	@include Flexible();

	li {
		text-transform: uppercase;

		&:hover {
			background-color: aquamarine;
		}
	}
}

.adm__koutek_form {
	margin-top: 10px;
	@include Flexible();

	button {
		padding: 5px 10px;
		border-radius: 10px;

		&:hover {
			background-color: aquamarine;
		}
	}
}

// main table content
// ==================

.container {
	width: 100%;
}

.content {
	width: max-content;
	margin: 0 auto;

	table {
		padding: 5px 10px;
		border: 2px solid darkblue;
		border-radius: 10px;
	}
	.table_row {
		&:first-child {
			background-color: lightslategrey;
			a {
				color: white;
			}
		}

		&:nth-child(n + 2) {
			background-color: lightgray;

			&.selected {
				background-color: lightseagreen;
			}

			&:hover {
				background-color: lightblue;
			}
		}
	}

	td,
	th {
		padding: 2px 5px;
	}
}

// for php messages
p {
	&.good {
		color: green;
	}
	&.err {
		color: red;
	}
}

// js toggle classes
// ======================

// for table

// for admin block
.hide {
	display: none;
}
