@font-face {
	font-family: "Roboto-Regular";
	src: local("Roboto-Regular"),
		url(../fonts/Roboto-Regular.ttf) format("truetype");
}

$ff-main: "Roboto-Regular";
$fs: 1em;
$f-title: $fs * 1.3;
$f-dscrptn: $fs * 1.2;
$f-txt: $fs;

@media (min-width: 1024px) {
	$fs: 1em * 1.5 !global;
}

@mixin fontStyle(
	$ff: $ff-main,
	$fs: $fs,
	$fw: inherit,
	$ls: normal,
	$lh: normal,
	$color: $c-main-blue
) {
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	letter-spacing: $ls;
	line-height: $lh;
	color: $color;
}
