@mixin Season($img, $bg, $title, $dscrpt, $txt, $link, $brdr) {
	background: linear-gradient(
			90deg,
			$bg 0%,
			transparentize($color: $bg, $amount: 1) 5%,
			transparentize($color: $bg, $amount: 1) 95%,
			$bg 100%
		),
		url($img) center / cover no-repeat $bg;

	.kal_wraper {
		background-color: transparentize($color: $bg, $amount: 0.15);
	}

	.kal_container {
		background-color: $bg;

		.row_header,
		.row_kal,
		td,
		th {
			border: $brdr;
		}

		.kal_navi {
			a {
				color: $title;
			}
		}

		.row_header th {
			color: $dscrpt;
		}

		.row_kal a {
			color: $txt;

			&:hover {
				color: $link;
			}
		}
	}
}

.jaro {
	@include Zima();
	@include Season("../img/jaro.jpeg", $bg, $title, $dscrpt, $txt, $link, $brdr);
}

.leto {
	@include Zima();
	@include Season("../img/leto.jpeg", $bg, $title, $dscrpt, $txt, $link, $brdr);
}

.podzim {
	@include Zima();
	@include Season(
		"../img/podzim.jpeg",
		$bg,
		$title,
		$dscrpt,
		$txt,
		$link,
		$brdr
	);
}

.zima {
	@include Zima();
	@include Season("../img/zima.jpeg", $bg, $title, $dscrpt, $txt, $link, $brdr);
}
