@mixin Season($img, $bg, $title, $dscrpt, $txt, $link, $brdr) {
	background: linear-gradient(
			90deg,
			$bg 0%,
			transparentize($color: $bg, $amount: 1) 5%,
			transparentize($color: $bg, $amount: 1) 95%,
			$bg 100%
		),
		url($img) center / cover no-repeat $bg;

	.kal_wraper {
		background-color: transparentize($color: $bg, $amount: 0.15);
	}

	.kal_container {
		background-color: $bg;

		.row_header,
		.row_kal,
		td,
		th {
			border-color: $brdr;
		}

		.kal_navi,
		.kal_month,
		.kal_year {
			a {
				color: $title;
			}
		}

		.row_header th {
			color: $dscrpt;
		}

		.row_kal a {
			color: $txt;

			&:hover {
				color: $link;
			}
		}

		.cur_day {
			background-color: transparentize($color: $dscrpt, $amount: 0.5);
		}
		.task_day {
			background-color: transparentize($color: $dscrpt, $amount: 0.8);
		}
	}

	.task_container {
		.item_container {
			p {
				color: $title;
			}
			span {
				color: $dscrpt;
			}
		}
		.form_item {
			color: $title;
			font-weight: 600;
			background-color: transparentize($color: $txt, $amount: 0.7);

			&.btn_sub:hover {
				background-color: $link;
			}
		}
	}
}

.jaro {
	@include Jaro();
}

.leto {
	@include Leto();
}

.podzim {
	@include Podzim();
}

.zima {
	@include Zima();
}
