@mixin SeasonBG($color, $img) {
	background: linear-gradient(
			90deg,
			$color 0%,
			transparentize($color: $color, $amount: 1) 5%,
			transparentize($color: $color, $amount: 1) 95%,
			$color 100%
		),
		url($img) center / cover no-repeat $color;

	.kal_wraper {
		background-color: transparentize($color: $color, $amount: 0.15);
	}

	.kal_container {
		background-color: $color;
	}
}

.jaro {
	@include SeasonBG($c-jaro-broun, "../img/jaro.jpeg");
}
.leto {
	@include SeasonBG($c-leto-orange, "../img/leto.jpeg");
}
.podzim {
	@include SeasonBG($c-podzim-brown, "../img/podzim.jpeg");
}
.zima {
	@include SeasonBG($c-zima-silver, "../img/zima.jpeg");
}
