// ## COLORS THEME
$c-main-blue: hsl(216, 46%, 23%);
$c-main-white: hsl(0, 0%, 100%);
$c-main-grayest: hsl(217, 16%, 68%);

// jaro:
$c-jaro-green: hsl(120, 100%, 50%);
$c-jaro-broun: hsl(49, 56%, 40%);
$c-jaro-yelow: hsl(60, 100%, 50%);
$c-jaro-red: hsl(330, 100%, 50%);
@mixin Jaro() {
	$bg: hsl(60, 56.9%, 85.3%);
	$title: hsl(120, 100%, 25%);
	$dscrpt: hsl(60, 100%, 50%);
	$txt: hsl(30, 59.4%, 40.4%);
	$link: hsl(350, 100%, 87.6%);
	$brdr: hsl(51, 100%, 50%);
}

// leto:
$c-leto-orange: hsl(30, 100%, 50%);
$c-leto-blue: hsl(210, 100%, 50%);
$c-leto-violet: hsl(270, 100%, 50%);
@mixin Leto() {
	$bg: hsl(39, 100%, 50%);
	$title: hsl(0, 100%, 50%);
	$dscrpt: hsl(174, 72.1%, 56.9%);
	$txt: hsl(0, 0%, 0%);
	$link: hsl(54, 80.8%, 75%);
	$brdr: hsl(28, 66.7%, 46.7%);
}

// podzim:
$c-podzim-red: hsl(0, 100%, 50%);
$c-podzim-brown: hsl(30, 75%, 25%);
$c-podzim-gold: hsl(50, 100%, 50%);
@mixin Podzim() {
	$bg: hsl(0, 100%, 25%);
	$title: hsl(39, 100%, 50%);
	$dscrpt: hsl(120, 100%, 25%);
	$txt: hsl(0, 0%, 100%);
	$link: hsl(0, 100%, 50%);
	$brdr: hsl(30, 49.2%, 44.9%);
}

// zima:
$c-zima-blue: hsl(240, 100%, 50%);
$c-zima-wite: hsl(0, 0%, 100%);
$c-zima-silver: hsl(0, 0%, 75%);
@mixin Zima() {
	$bg: hsl(0, 0%, 100%);
	$title: hsl(240, 100%, 50%);
	$dscrpt: hsl(180, 100%, 50%);
	$txt: hsl(0, 0%, 50%);
	$link: hsl(300, 100%, 50%);
	$brdr: hsl(0, 0%, 75%);
}

// ## Variables:

@mixin Flexyble() {
	display: flex;
	justify-content: center;
	align-items: center;
}
