// ## COLORS THEME
$c-main-blue: hsl(216, 46%, 23%);
$c-main-white: hsl(0, 0%, 100%);
$c-main-grayest: hsl(217, 16%, 68%);
$c-main-red: hsl(0, 100%, 50%);
$c-main-green: hsl(120, 100%, 50%);
$c-main-orange: hsl(30, 100%, 50%);

@mixin Jaro() {
	$img: "../img/jaro.jpeg";
	$bg: hsl(60, 56.9%, 85.3%);
	$title: hsl(120, 100%, 25%);
	$dscrpt: hsl(30, 100%, 50%);
	$txt: hsl(30, 59.4%, 40.4%);
	$link: hsl(350, 100%, 87.6%);
	$brdr: hsl(51, 100%, 50%);
	@include Season($img, $bg, $title, $dscrpt, $txt, $link, $brdr);
}

@mixin Leto() {
	$img: "../img/leto.jpeg";
	$bg: hsl(30, 100%, 50%);
	$title: hsl(0, 100%, 50%);
	$dscrpt: hsl(174, 72.1%, 56.9%);
	$txt: hsl(0, 0%, 0%);
	$link: hsl(54, 80.8%, 75%);
	$brdr: hsl(28, 66.7%, 46.7%);
	@include Season($img, $bg, $title, $dscrpt, $txt, $link, $brdr);
}

@mixin Podzim() {
	$img: "../img/podzim.jpeg";
	$bg: hsl(0, 100%, 25%);
	$title: hsl(39, 100%, 50%);
	$dscrpt: hsl(120, 100%, 25%);
	$txt: hsl(0, 0%, 100%);
	$link: hsl(0, 100%, 50%);
	$brdr: hsl(30, 49.2%, 44.9%);
	@include Season($img, $bg, $title, $dscrpt, $txt, $link, $brdr);
}

@mixin Zima() {
	$img: "../img/zima.jpeg";
	$bg: hsl(0, 0%, 100%);
	$title: hsl(240, 100%, 50%);
	$dscrpt: hsl(180, 100%, 50%);
	$txt: hsl(0, 0%, 50%);
	$link: hsl(300, 100%, 50%);
	$brdr: hsl(240, 100%, 50%);
	@include Season($img, $bg, $title, $dscrpt, $txt, $link, $brdr);
}
