@import "../components/autor-resourse/my-normaliz-style-min.css";
@import "../components/autor-resourse/autor-footer-style.css";
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url(../fonts/Roboto-Regular.ttf) format("truetype");
}
.jaro {
  background: linear-gradient(90deg, hsl(60, 56.9%, 85.3%) 0%, rgba(239, 239, 196, 0) 5%, rgba(239, 239, 196, 0) 95%, hsl(60, 56.9%, 85.3%) 100%), url("../img/jaro.jpeg") center/cover no-repeat hsl(60, 56.9%, 85.3%);
}
.jaro .kal_wraper {
  background-color: rgba(239, 239, 196, 0.85);
}
.jaro .kal_container {
  background-color: hsl(60, 56.9%, 85.3%);
}
.jaro .kal_container .row_header,
.jaro .kal_container .row_kal,
.jaro .kal_container td,
.jaro .kal_container th {
  border: hsl(51, 100%, 50%);
}
.jaro .kal_container .kal_navi a {
  color: hsl(120, 100%, 25%);
}
.jaro .kal_container .row_header th {
  color: hsl(60, 100%, 50%);
}
.jaro .kal_container .row_kal a {
  color: hsl(30, 59.4%, 40.4%);
}
.jaro .kal_container .row_kal a:hover {
  color: hsl(350, 100%, 87.6%);
}

.leto {
  background: linear-gradient(90deg, hsl(39, 100%, 50%) 0%, rgba(255, 166, 0, 0) 5%, rgba(255, 166, 0, 0) 95%, hsl(39, 100%, 50%) 100%), url("../img/leto.jpeg") center/cover no-repeat hsl(39, 100%, 50%);
}
.leto .kal_wraper {
  background-color: rgba(255, 166, 0, 0.85);
}
.leto .kal_container {
  background-color: hsl(39, 100%, 50%);
}
.leto .kal_container .row_header,
.leto .kal_container .row_kal,
.leto .kal_container td,
.leto .kal_container th {
  border: hsl(28, 66.7%, 46.7%);
}
.leto .kal_container .kal_navi a {
  color: hsl(0, 100%, 50%);
}
.leto .kal_container .row_header th {
  color: hsl(174, 72.1%, 56.9%);
}
.leto .kal_container .row_kal a {
  color: hsl(0, 0%, 0%);
}
.leto .kal_container .row_kal a:hover {
  color: hsl(54, 80.8%, 75%);
}

.podzim {
  background: linear-gradient(90deg, hsl(0, 100%, 25%) 0%, rgba(128, 0, 0, 0) 5%, rgba(128, 0, 0, 0) 95%, hsl(0, 100%, 25%) 100%), url("../img/podzim.jpeg") center/cover no-repeat hsl(0, 100%, 25%);
}
.podzim .kal_wraper {
  background-color: rgba(128, 0, 0, 0.85);
}
.podzim .kal_container {
  background-color: hsl(0, 100%, 25%);
}
.podzim .kal_container .row_header,
.podzim .kal_container .row_kal,
.podzim .kal_container td,
.podzim .kal_container th {
  border: hsl(30, 49.2%, 44.9%);
}
.podzim .kal_container .kal_navi a {
  color: hsl(39, 100%, 50%);
}
.podzim .kal_container .row_header th {
  color: hsl(120, 100%, 25%);
}
.podzim .kal_container .row_kal a {
  color: hsl(0, 0%, 100%);
}
.podzim .kal_container .row_kal a:hover {
  color: hsl(0, 100%, 50%);
}

.zima {
  background: linear-gradient(90deg, hsl(0, 0%, 100%) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, hsl(0, 0%, 100%) 100%), url("../img/zima.jpeg") center/cover no-repeat hsl(0, 0%, 100%);
}
.zima .kal_wraper {
  background-color: rgba(255, 255, 255, 0.85);
}
.zima .kal_container {
  background-color: hsl(0, 0%, 100%);
}
.zima .kal_container .row_header,
.zima .kal_container .row_kal,
.zima .kal_container td,
.zima .kal_container th {
  border: hsl(0, 0%, 75%);
}
.zima .kal_container .kal_navi a {
  color: hsl(240, 100%, 50%);
}
.zima .kal_container .row_header th {
  color: hsl(180, 100%, 50%);
}
.zima .kal_container .row_kal a {
  color: hsl(0, 0%, 50%);
}
.zima .kal_container .row_kal a:hover {
  color: hsl(300, 100%, 50%);
}

body {
  padding-top: 40px;
}

.kal_wraper {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto-Regular";
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: normal;
  line-height: normal;
  color: hsl(216, 46%, 23%);
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
}

.kal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1024px) {
  .kal_content {
    flex-direction: row;
    align-items: flex-start;
  }
}

.kal_container,
.task_container {
  padding: 20px;
  border-radius: 10px;
}

.kal_container .kal_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 20px;
}
.kal_container .kal_title .btn_cal {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.2em;
}
.kal_container .row_header td,
.kal_container .row_header th,
.kal_container .row_kal td,
.kal_container .row_kal th {
  padding: 5px;
  border: 1px solid;
  text-align: center;
}
.kal_container .row_header td:first-child,
.kal_container .row_header th:first-child,
.kal_container .row_kal td:first-child,
.kal_container .row_kal th:first-child {
  border-left: transparent;
}
.kal_container .row_header td:last-child,
.kal_container .row_header th:last-child,
.kal_container .row_kal td:last-child,
.kal_container .row_kal th:last-child {
  border-right: transparent;
}
.kal_container .row_header:first-child,
.kal_container .row_header th,
.kal_container .row_kal:first-child,
.kal_container .row_kal th {
  border-top: transparent;
}
.kal_container .row_header:last-child td,
.kal_container .row_kal:last-child td {
  border-bottom: transparent;
}/*# sourceMappingURL=style.css.map */