.main_btn {
	padding: 0.35em 0.75em;
	border: 1px solid $c-blue-grayest;
	border-radius: 20px;
	background: $c-main-white;

	@include fontStyle($color: $c-blue-grayest);

	&:hover {
		border-color: $c-main-red;
		background: $main-gradient;
		color: $c-main-white;
	}
}

.tag_btn {
	padding: 0.35em 0.75em;
	border: 0;
	border-radius: 10px;
	background: $main-gradient;

	@include fontStyle($color: $c-main-white);
}

.rounded_btn {
	padding: 0.35em;
	border: 0;
	border-radius: 50%;
	background: $main-gradient;

	@include fontStyle($color: $c-main-white);
	@include Flexyble();
}

.tag_btn,
.rounded_btn {
	&:hover {
		background: $c-red-lightest;
	}
}

.smm_btn {
	@include Flexyble();
	color: $c-main-blue;

	&:hover {
		color: $c-main-red;
	}
}

.pagBtn {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: $c-blue-grayest;

	&:hover,
	&:active {
		width: 30px;
		background: $main-gradient;
	}

	@media (min-width: 768px) {
		&:nth-child(n + 4) {
			display: none;
		}
	}
}
