.main__container {
	width: 100%;
	display: grid;
	grid-auto-flow: row;
	gap: 25px;

	@media (min-width: 1200px) {
		grid-template-columns: 2fr 1fr;
	}
}

.main_pagBtn_container {
	width: 100%;
	margin: 20px auto;
	@include Flexyble();
	gap: 5px;

	.pagBtnBig {
		&:first-child {
			background: $main-gradient;
			color: $c-main-white;
			border-color: $c-main-red;
		}
	}
}

.main__content {
	display: grid;
	grid-auto-flow: row;
	gap: 25px;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	.main__item_container {
		border: 1px solid $c-blue-grayest;
		border-radius: 10px;
		overflow: hidden;
	}

	.main__item_content {
	}

	.item_foto {
		width: 100%;
		position: relative;

		img {
			width: 100%;
		}

		.item_tag {
			position: absolute;
			top: 20px;
			left: 20px;
		}

		.item_tag_collection {
			position: absolute;
			right: 20px;
			bottom: -16px;

			.rounded_btn {
				padding: 10px;
			}
		}
	}

	.item_content {
		padding: 20px;
		@include Flexyble();
		flex-direction: column;
		gap: 20px;

		.item_autor {
			width: 100%;
			@include Flexyble();
			justify-content: flex-start;
			gap: 15px;

			@include fontStyle($color: $c-blue-grayest);

			.autor_foto {
				width: 30px;
				height: 30px;

				img {
					width: 100%;
				}
			}

			.autor_name {
				@include Flexyble();
				&::after {
					content: "";
					display: inline-block;
					margin-left: 15px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: $c-main-red;
				}
			}

			.autor_date {
			}
		}

		.item_title {
			h3 {
				@include fontStyle($fs: 1.7em, $fw: 900);
				text-transform: capitalize;
			}
		}

		.item_text {
			@include fontStyle($ls: 0.1em, $lh: 1.5em, $color: $c-blue-grayest);
		}

		.item_btns {
			width: 100%;
			border-top: 1px solid $c-blue-grayest;
			padding: 20px 20px 0;

			@include Flexyble();
			justify-content: space-between;

			.post_btn {
				@include fontStyle($color: $c-blue-grayest);

				&:hover,
				&:active {
					color: $c-red-lightest;
				}
			}
		}
	}
}

// ASIDE Section
// ===================
.aside__content {
	width: 100%;
	@include Flexyble();
	align-items: flex-start;
	align-content: flex-start;
	gap: 40px;
	flex-wrap: wrap;

	.aside_item_container {
		width: 100%;
		border: 1px solid $c-blue-grayest;
		border-radius: 10px;
		overflow: hidden;
		padding: 30px 20px;

		@include Flexyble();
		flex-direction: column;
		gap: 20px;

		.item_title {
			width: 100%;

			h3 {
				@include fontStyle($fs: 1.7em, $fw: 900);
				text-transform: capitalize;
				text-align: center;

				&::after {
					content: url("../img/wave-deco.svg");
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}

		&.brand_item {
			.brand_logo {
				width: 50%;
			}

			.aside_text {
				@include fontStyle($ls: 0.1em, $lh: 1.5em, $color: $c-blue-grayest);
				text-align: center;
			}
		}

		&.post_item {
			& .item {
				width: 100%;
				@include Flexyble();
				justify-content: flex-start;
				gap: 15px;
				// border-bottom: 1px solid $c-blue-grayest;
				padding-bottom: 20px;
				position: relative;

				// &:last-child {
				// 	border: 0;
				// }

				&:not(:last-child)::after {
					content: "";
					position: absolute;
					bottom: 0;
					display: block;
					width: 100%;
					height: 1px;
					background: linear-gradient(
						90deg,
						$c-blue-grayest 0%,
						transparentize($color: $c-blue-grayest, $amount: 0.9) 70%
					);
				}

				&_foto {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;

					& > img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				&_description {
					h2 {
						// @include fontStyle($fs: 1.3em, $fw: 900);
						// text-transform: capitalize;
						a {
							display: block;
							width: 100%;
							@include fontStyle($fs: 1.3em, $fw: 900);
							text-transform: capitalize;

							&:hover {
								color: $c-red-lightest;
							}
						}
					}
					p {
						@include fontStyle($color: $c-blue-grayest);
					}
				}
			}
		}

		&.topics_item {
			.topic_item {
				width: 100%;
				@include Flexyble();
				justify-content: flex-start;

				// border-bottom: 1px solid $c-blue-grayest;
				padding-bottom: 20px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					display: block;
					width: 100%;
					height: 1px;
					background: linear-gradient(
						90deg,
						$c-blue-grayest 0%,
						transparentize($color: $c-blue-grayest, $amount: 0.9) 70%
					);
				}

				.item_deco {
					color: $c-main-red;
					@include Flexyble();
				}

				.topic_title {
					width: 100%;

					a {
						display: block;
						width: 100%;
						@include fontStyle($fs: 1.3em, $fw: 900);
						text-transform: capitalize;

						&:hover {
							color: $c-red-lightest;
						}
					}
				}

				.topic_counts {
					margin: 0 0 0 auto;
					@include fontStyle($fs: 1.3em, $color: $c-blue-grayest);
				}
			}
		}

		&.news_item {
			.form_container {
				width: 100%;
				text-align: center;
			}

			.form_title {
				@include fontStyle($fs: 1.3em, $fw: 900);
			}

			.form_content {
				width: 100%;
				margin-top: 20px;

				form {
					width: 100%;
					@include Flexyble();
					flex-direction: column;
					gap: 10px;

					input,
					button {
						width: 100%;
						padding: 10px 20px;
					}

					input {
						border: 1px solid $c-blue-grayest;
						border-radius: 20px;
						color: $c-blue-grayest;
						text-align: center;
					}
				}
			}
		}

		&.celebrate_item {
			.item_foto {
				width: 100%;
				position: relative;
				border-radius: 10px;
				overflow: hidden;

				img {
					width: 100%;
				}

				.item_tag {
					position: absolute;
					top: 20px;
					left: 20px;
				}
			}

			.item_content {
				padding: 20px;
				@include Flexyble();
				flex-direction: column;
				gap: 20px;
				justify-content: flex-start;

				.item_title {
					h4 {
						@include fontStyle($fs: 1.7em, $fw: 900);
						text-transform: capitalize;
					}
				}

				.item_autor {
					width: 100%;
					@include Flexyble();
					justify-content: flex-start;
					gap: 15px;

					@include fontStyle($color: $c-blue-grayest);

					.autor_name {
						@include Flexyble();
						&::after {
							content: "";
							display: inline-block;
							margin-left: 15px;
							width: 5px;
							height: 5px;
							border-radius: 50%;
							background-color: $c-main-red;
						}
					}
				}
			}

			.item_btns {
				width: 100%;
				@include Flexyble();
				gap: 5px;

				.post_btn {
					padding: 10px;
					@include Flexyble();

					border: 1px solid $c-blue-grayest;
					border-radius: 50%;

					&:hover {
						border-color: $c-red-lightest;
					}

					&:first-child {
						transform: rotate(180deg);
					}
				}
			}
		}

		&.tags_item {
			.tag_container {
				@include Flexyble();
				flex-wrap: wrap;
				gap: 5px;
			}
		}
	}
}

// INSTAGRAMM Section
// ===================
.instagram_container {
	width: 100%;
	margin-top: 40px;
	@include Flexyble();
	position: relative;

	.instagram_content {
		@include Flexyble();
		gap: 5px;

		@media (max-width: 992px) {
			flex-wrap: wrap;
		}

		.insta_item {
			flex-grow: 0;

			img {
				width: 100%;
			}
		}
	}

	.instagram_btns {
		position: absolute;
	}
}
