.slider_container {
	// @include Flexyble();
	// flex-wrap: wrap;
	overflow: hidden;
}

.slider_wraper {
	@include Flexyble();
	justify-content: flex-start;
	gap: 25px;
	transition: transform 0.5s linear;
}

.slider_item_container {
	@include Flexyble();
	flex-shrink: 0;
	// min-width: 300px;
	height: 350px;
	padding: 40px;
	border-radius: 10px;
	overflow: hidden;
	background: no-repeat center / cover;

	// &:not(:last-child) {
	// 	margin-right: 15px;
	// }

	width: 100%;

	@media (min-width: 576px) {
		width: calc((100% - 25px) / 2);
	}
	@media (min-width: 768px) {
		width: calc((100% - 25px * 2) / 3);
	}
	@media (min-width: 1200px) {
		width: calc((100% - 25px * 3) / 4);
	}
	@media (min-width: 1400px) {
		width: calc((100% - 25px * 4) / 5);
	}

	.item_content {
		@include Flexyble();
		flex-direction: column;
		gap: 20px;

		.item_tag {
		}

		.item_title {
			@include fontStyle($fs: 1.2em, $color: $c-main-white);
			text-transform: uppercase;
			text-align: center;
		}

		.item_description {
			@include Flexyble();
			flex-direction: row;
			gap: 15px;

			@include fontStyle($color: $c-blue-grayest);

			.item_autor {
				@include Flexyble();

				&::after {
					content: "";
					display: inline-block;
					margin-left: 15px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: $c-blue-grayest;
				}
			}
			.item_date {
			}
		}
	}
}

.pag_btns {
	@include Flexyble();
	gap: 15px;
	width: 100%;
	padding: 40px;

	@media (min-width: 576px) {
		.pagBtn:nth-child(n + 4) {
			display: none;
		}
	}
}
