@import "../../components/autor-resourse/my-normaliz-style-min.css";
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
.wraper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .wraper {
    width: 1115px;
    padding: 0 10px;
  }
}

.main_btn {
  padding: 0.35em 0.75em;
  border: 1px solid hsl(217, 16%, 68%);
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
  font-family: "Roboto-Regular";
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: normal;
  line-height: normal;
  color: hsl(217, 16%, 68%);
}
.main_btn:hover {
  border-color: hsl(349, 92%, 66%);
  background: linear-gradient(90deg, hsl(349, 92%, 66%) 0%, hsl(10, 92%, 76%) 100%);
  color: hsl(0, 0%, 100%);
}

.tag_btn {
  padding: 0.35em 0.75em;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, hsl(349, 92%, 66%) 0%, hsl(10, 92%, 76%) 100%);
  font-family: "Roboto-Regular";
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: normal;
  line-height: normal;
  color: hsl(0, 0%, 100%);
}

.rounded_btn {
  padding: 0.35em;
  border: 0;
  border-radius: 50%;
  background: linear-gradient(90deg, hsl(349, 92%, 66%) 0%, hsl(10, 92%, 76%) 100%);
  font-family: "Roboto-Regular";
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: normal;
  line-height: normal;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag_btn:hover,
.rounded_btn:hover {
  background: hsl(10, 92%, 76%);
}

.smm_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(216, 46%, 23%);
}
.smm_btn:hover {
  color: hsl(349, 92%, 66%);
}

.header__container {
  width: 100%;
  padding: 30px 0;
}

.header_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1024px) {
  .header_content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.smm__links_container {
  width: 190px;
}
@media (max-width: 1024px) {
  .smm__links_container {
    order: 1;
  }
}
.smm__links_container .links_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.smm__links_container .links_content .links_item {
  width: 20px;
  height: 20px;
}
.smm__links_container .links_content .links_item svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.brand_container .brand_pic {
  width: 80px;
  height: 80px;
}
.brand_container .brand_logo {
  width: 118px;
  height: 26px;
}
.brand_container .brand_title {
  width: 100%;
}
.brand_container .brand_title h1 {
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: normal;
  color: hsl(217, 16%, 68%);
  text-align: center;
  text-transform: capitalize;
}

.btn_container {
  width: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 14px;
}
.btn_container .header_btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_container .header_btn:nth-child(2) {
  position: relative;
}
.btn_container .header_btn:nth-child(2)::before, .btn_container .header_btn:nth-child(2)::after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
}
.btn_container .header_btn:nth-child(2)::before {
  top: 14px;
}
.btn_container .header_btn:nth-child(2)::after {
  bottom: 14px;
}
.btn_container .header_btn:nth-child(2).active::before {
  top: 18px;
  transform: rotate(45deg);
}
.btn_container .header_btn:nth-child(2).active::after {
  bottom: 18px;
  transform: rotate(-45deg);
}

.hide {
  display: none;
}

.header__navBar {
  width: 100%;
  border-top: 2px solid rgba(160, 170, 186, 0.4);
  padding: 1.45em;
}
.header__navBar .navbar_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header__navBar .navbar_menu .menu_item {
  position: relative;
  border-radius: 20px;
}
.header__navBar .navbar_menu .menu_item > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.7em 1.5em;
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  color: hsl(217, 16%, 68%);
  text-align: center;
}
.header__navBar .navbar_menu .menu_item > a svg {
  vertical-align: bottom;
  width: 0.7em;
}
.header__navBar .navbar_menu .menu_item:hover {
  background: linear-gradient(90deg, hsl(349, 92%, 66%) 0%, hsl(10, 92%, 76%) 100%);
}
.header__navBar .navbar_menu .menu_item:hover > a {
  color: hsl(0, 0%, 100%);
}
.header__navBar .drop_menu {
  width: 160px;
  position: absolute;
  top: 100%;
  z-index: 101;
  padding-top: 1em;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 0 hsl(217, 16%, 68%);
}
.header__navBar .drop_menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 13px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid hsl(0, 0%, 100%);
}
.header__navBar .drop_menu .drop_item {
  padding: 1em;
  position: relative;
}
.header__navBar .drop_menu .drop_item a {
  display: block;
  width: 100%;
  color: hsl(217, 16%, 68%);
}
.header__navBar .drop_menu .drop_item a:hover {
  color: hsl(349, 92%, 66%);
}
.header__navBar .drop_menu .drop_item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, hsl(217, 16%, 68%) 0%, rgba(160, 170, 186, 0.1) 80%);
}

body {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: inherit;
  letter-spacing: normal;
  line-height: normal;
  color: hsl(216, 46%, 23%);
}
@media (min-width: 982px) {
  body {
    padding: 0 15px;
  }
}/*# sourceMappingURL=style.css.map */